[Desktop Entry]
Encoding=UTF-8
Name=Link to http://myitforum.com/myitforumwp/wp-content/uploads/2012/12/error.png
Type=Link
URL=http://myitforum.com/myitforumwp/wp-content/uploads/2012/12/error.png
Icon=image-png
