<i><%= link_to "[Criar Nova Vistoria]", new_group_path %></i>
<br/>
<table class="table table-striped table-hover">
    <tr>
        <th>Nome</th>
        <th>Localização</th>
        <th></th>
    </tr>
    <% @groups.each do |group| %>
        <tr>
            <td>
               <%= link_to group.name, group %>
            </td>

            <td>
		<% if (group.building != nil) %>
              	 <%= group.building.name %>
		<% else %>
		 Não vinculada
		<% end %>
            </td>

            <td><%= link_to "Editar", edit_group_path(:id => group.id) %>
        </tr>
    <% end -%>
</table>
