<hr class="hrdivider2" />
<h3>APRESENTAÇÃO</h3>
<hr class="hrdivider2" />

<div style="text-align: justify; text-justify: inter-word; text-indent: 50px;">
	Este documento averigua a acessibilidade (no(s) prédio(s) do(a) - localização). A avaliação foi feita em (número de visita(s)) à edificação, (realizadas) por (estagiário(a)s) do Programa USP Legal. 
</div>
