<br/>
<img style="width:200px; float: left;" src="/nucleo.png"/><img style="width:200px; float: right;" src="/usplegal.jpg"/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<center><h2>AVALIAÇÃO DE ACESSIBILIDADE FISICA</h2></center><br/>
<center><h4><%= @vistoria.building.name %></h4></center><br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<hr class="hrdivider2" />
<%= @vistoria.name %><br/>
Data de Inspeção: - data-<br/>
Authores: -autores-<br/>
Revisores: -revisores-<br/>
<hr class="hrdivider2" />


