<hr class="hrdivider2" />
<h3>ÍNDICE</h3>
<hr class="hrdivider2" />
<br/>
<p>Este documento está organizado segundo a ordem dos equipamentos apresentada na Checklist de Acessibilidade da Prefeitura da Cidade de São Paulo, a saber:</p>
<ul>
<% result = ReportConfig.read %>
<% result.each do |name,id| %>
	<li><%= name %> </li>
<% end %>
</ul>
<br/>
<p>Restalta-se que nem todos os edifícios possuem todos os equipamentos listados acima.</p>
