@import "bootstrap";
@import "bootstrap-responsive";


body {
  padding-top: 100px;
  padding-bottom: 40px;
}

@media (max-width: 980px) {
  body {
    padding-top: 0 !important;
  }
  .navbar-inner.mainnav {
    a.brand {
      padding-top: 15px !important;

    }
    img.logo {
      padding-top: 10px !important;
    }
  }
  .image-wrapper {
    text-align: center !important;
    img {
      max-width: 400px !important;
    }
  }
}

.navbar-inner.mainnav {
  background-image: url(header_pattern.gif) !important;
  height: 90px;
  a.brand {
    color: white;
    font-size: 35px;
    padding-top: 20px;
    padding-right: 5px;
  }
  img.logo {
    float: left;
    padding-top: 15px;
  }
}

.span6.map {
  height: 300px;
}

.get-location {
  margin-top: 25px;
  float: right;
}

.get-address {
  float: right;
}

textarea {
  height: 60px;
}

.image-wrapper {
  text-align: center !important;
  img {
    max-width: 500px;
  }
}