<div>

<table>
<tr>
<td style="font-weight: bold;">Legenda</td>
<td style="width: 10px;"></td>
<td style="width: 25px;"><span title="Sim" class="icon-ok-circle glyphicon-sim"></span></td>
<td>Sim</td>
<td style="width: 10px;"></td>
<td style="width: 25px;"><span title="N達o" class="icon-remove-circle glyphicon-nao"></span></td>
<td>N達o</td>
<td style="width: 10px;"></td>
<td style="width: 25px;"><span title="N達o Se Aplica" class="icon-ban-circle glyphicon-nsa"></span></td>
<td>N達o Se Aplica</td>
</tr>
</table>

</div>
