<hr class="hrdivider2" />
<h3>Checklist - <%= @inspection.equipment.equip_type.kind%></h3>
<hr class="hrdivider2" />
<br/>
Descrição: <%= @inspection.description%></td><br/>
Foto Geral <br/>
<center><img src="<%= @inspection_url %>" /></center><br/>
-parte introdutoria-<br/>


