<div class="search">
  <%= render :partial => 'search' %>
</div>


<table class="table table-striped table-hover">
    <tr>
        <th></th>
        <th>Tipo de Equipamento</th>
        <th>Pergunta da Checklist</th>
        <th>Alteração</th>
    </tr>
    <% @equip_type.each do |equip_type| %>
    	<% equip_type.checklist_items.each do |checklist_item| %>
    	
    	<% if (checklist_item.current == true || params[:show_deleted] == "1")  %>
	        <tr>
	            <td>
	            </td>
	            <td>
	                <%= equip_type.kind %>
	            </td>
	            <td>
	               <%= checklist_item.question %>
	            </td>

	            <td>
	            	<% if checklist_item.current == true %>
	                    <%= link_to "Remover", checklist_item_delete_path(:id => checklist_item.id), :onclick => "return confirm('Certeza que você quer remover esta pergunta da checklist?')" %>
	                <% else %>
	                	(Removido)
	                <% end %>
	            </td>
	        </tr>
    	<% end -%>
    	<% end -%>
    <% end -%>
</table>

