<div class="row-fluid">
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav" style="top:10px;">
				<li>
					<%= link_to "Quem Somos", user_index_path, style: "font-weight:900;"%>
				</li>
				<li>
					<%= link_to "Contato", user_index_path, style: "font-weight:900;"%>
				</li>
      		</ul>
      		<%= image_tag "usplegal.jpg", style: "float:right; height: 60px;"%>
      		<%= image_tag "nucleo.png", style: "float:right; height: 60px;"%>
      		
		</div>
	</div>
</div>

