<div class="row-fluid">
	<div class="navbar navbar-default main-nav " role="navigation">
  		<div class="navbar-inner mainnav">
    		<div class="container-fluid">
    			<div style="float:left; padding-top:28px;"><i class="icon-check icon-4x"></i><x style="padding-left: 36px; padding-top:4px;"><font size=5>Check Acessibilidade</font></x></div>
      			<%= image_tag "header_logo1.png", style: "float:right; padding-top: 10px;" %>
    		</div>
  		</div>
	</div>
</div>
